-----BEGIN PGP PRIVATE KEY BLOCK-----

lQPGBGKA1psBCACq5zYDT587CVZEIWXbUplfAGQZOQJALmzErYpTp0jt+rp4vJhR
U5xahy3pqCq81Cnny5YME50ybB3pW/WcHxWLBDo+he8PKeLbp6wFFjJns+3u4opH
9gFMElyHpzTGiDQYfx/CgY2hKz7GSqpjmnOaKxYvGv0EsbZczyHY1WIN/YFzb0tI
tY7J4zTSH05I+aazRdHyn28QcCRcIT9+4q+5Vk8gz8mmgoqVpyeNgQcqJjcd03iP
WUZd1vZCumOvdG5PZNlc/wPFhqLDmYyLmJ7pt5bWIgty9BjYK8Z2NOdUaekqVEJ+
r29HbzwgFLLE2gd52f07h2y2YgMdWdz4FDxVABEBAAH+BwMC9veBYT2oigXxExLl
7fZKVjw02lEr1NpYd5X1ge9WPU/1qumATJWounzciiETpsYGsbPd9zFRJP4E3JZl
sFSh4p0/kXYTuenYD8wgGkeYyN4lm53IHfqSn2z9JMW5Kz9XEODtKJl8fjcn9Zeb
wO833FCjALgrBs0D8knC4KMdlTFbqnQ+QQHSqYluq9Rq6Z9lyA1Gmug1mpwNGv+d
I5a9LI1PhM1fnHgjHuZUZne5HeNcTXTsJBZP1YAV6GUuKFiXDyJHyS0ywbiOLl+M
9Vxa5yxSdsWfpBrhyddGmuFGaUbBuIYjyfy2zIZNgcIUU3ZZ1lZGMy9yfETpKa2s
oolTfwqAsgim8kgPlRLO/+Wln2jhTU2j90MH9IVqpYJDUEAO7M72D89OGcxYRVeA
0cWtOKaO9qfXALkB4V7ANXoJMSjnXtbzO2zpIlAvPxdETClYkC7Q+AkV9Aj3Neyv
UXz0V/4hF+ZSoUpBGGIwgCCPpukSKinwzKgbsWfrGM5mUeQVPOQsnBjYjX1l+qoq
aZIa+ZkhW0WYTUQeAzhqGeeNh2IMH4jC2fpx6XYCc7xzZziYcHplwRTH4e5lRPR1
KC5hBYhvwJ3R6xONyF3l7nAphto3lolZnw89nY9MkazTTuqTdqfmHRpZWJJ/NewM
7durLT328YGAeV+/+NvVzrrvN6T3PjhR6LEm+W3PnN2tc7U0/HTZYgcfAhtvUmCr
ERIRObIuTZYHshwZV5loRAOVThznAqCZEX54D+Qw8Jk55dIiLF/rfGLXDKT2onG8
Bti9JMZ3VA9FAxfKXhpX4f11NFhcH2WB6WjGPwSpguExRlURAgQalLPngCsj8PeU
ZShe5ZZCImTFz9tkVrWRpUzqmdOr4xE1IlkbqX7OrvtpUqSAG3NvPv+GGSqQ+Mi7
OYgAt0ZHyYZGtC5Qcm9kdWN0aW9uIERlcGxveW1lbnQgPHByb2R1Y3Rpb25AZXhh
bXBsZS5jb20+iQFOBBMBCgA4FiEEwuUvxMYOm6l4HT3t9kFwIFZsr9IFAmKA1psC
Gy8FCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQ9kFwIFZsr9K2Lgf7BxU1EWgy
HXSAHqPYaFDPyN/T4N3C3s5wPzsbgFPRbNOuZgq9Z/eF4neJ9JxIFSZaU2kGOnTI
zF9K3Zi5Q8tBXcCXXZaWesg4hOUnSQ89yW7TAsS/WoYunMxoXDcAgqIOn9q2IoKH
kX+3k29dtLdUo/jVM7XnRGVyq6c4iETOu0YwPBPbsPTKTKhtUPVLV/J3u4AxUVb1
gmoulJUTNGBHQSFrjbgnzmnx/bqHH/f4SjlRdY6j+k7KIjZJrc8axDr3qYGpSAGp
NLVJGNaA3s3Y1CTP48JJxlNdGziq1iLXak2LTxHIE/EbdUtTS3WImQA5HIIOtq90
ZSvUnqTAYDGBmp0DxgRigNabAQgAmJa1jWXR3HkMMtVEqVZkf03N/i8eN/vNoKn8
6zAlrQ87FgvTuCSkyjXoWgRaUCJDMaPxJNRRGD7y52hZZxHPxMk2pgPia13S1Z8G
aJxv2NOMrgDdkkwDbXHe1OUtgf4n+zdC9Fw+VQwv5Qoq5GeesWqYgOjqi0jo6t5o
WcGMIoiyOem5tb1AF/hjtHCFOpCS2KSwxIuI2PGmbv62UqBVX7KyikChfs1/Xizx
ddyQzUXZ5WySTCiuMvb9U++LU8Tjfs0wFGS1WDNzA5T7U7gv+WSi5e3ttpUiM4xc
VXrMs1hY2xJ/9kjl3JWnp1LQWXs8FUguyv4I5qoEznWk1EA3/QARAQAB/gcDAm4D
B/LRoGy98fFhYQDu9qCSadH8YM5Z3nSoz38lAoXD/sqXmSK6DE5HKuDosWTkUPRM
A2Muo2BIl+drSZaa1H/X2FS1A8u2FUHZOEZxMsVAKefe3T+mH3L2mSz4IGTi8cIC
O+MVe9wytoHnHHZY637712LkM7W5mlu8qQHjotlrxyGLH/rt9eifi29wB7rg8UPI
5y3VULyF9hxBLRex/9f7nYWPJ3F+faWFpU7mKu8rL9lcBA2Z4fS0BT3WeDp1xYwL
xVEooh2NRVyMV3kunzQ1UecZj3cAfggOkdoQdvKqhebbqx/D0B9xPTCClyrSaURJ
0U6b6hxgz1oJmL4sNEvyKkRX8h3EezDMZ9M5lfi8vV9tNocwfK710hSp/dJJu+2R
BZ1EJeLhhqugokElNXDjypJOsh6jQIfYr/U/ks/EC4ewCVayqcbTtuAt6ZJ5G8xN
gTJM3BmRsn2w5rfS9tAHsR1gDMyx9fRcOu+EVxEGiPFfrVa9kO8D+PoFWFcS5i08
qv/wDK73wy47UJwcqKSIe7YeO9PNAqwgCjgD4gROPKQ8MggiFLuM3hjF1lSE7I+5
ose4lEbKs5fbXRV+hvvV6Bu1lgh8SZunOlVqltbLXEGfIeNbpRK5vBCufQcoiJXy
i1HC6sesnsqZDgjF9N4ekdPUDNuSYJwQre4Q81QEjemVO6NdxPE1U2Q+KfKgPljP
4WtIT8MeLIpdz/7QHSSHJJqRdHFxxtTEN/N133ITd0kT5rCxwdgIo489WOAStaEw
WAK3KX6asXHVw3Ogzi8KQ1PwqlR5dRnLcsL8QZ/5siu4z6VcDaVrBZI1OenqdoTj
PQimca5SrMBsPapNH+e4+viTs0bXCFWReLZ3+JZPpurE7lPfNBpulBidYlfNcQzf
6pmUJEryEBQe6MW2ngSDDvX43IkCbAQYAQoAIBYhBMLlL8TGDpupeB097fZBcCBW
bK/SBQJigNabAhsuAUAJEPZBcCBWbK/SwHQgBBkBCgAdFiEEp3d1vjaC02rnN14Y
xzJPThLdHdAFAmKA1psACgkQxzJPThLdHdDGFAf9FFnNii3Gvv9Igx7JgnAzfqct
mZgmt9+Oli4ZD5YkabV8NL6LCurZACeE/fsW6cYb74Z3gZ54n5Z9UaN0Tv7fLXPr
ByB+VqS+g/4gJzuu4DRE+8V8Ez3QHk+vm6MP70cNk5b7dPJEIu6I8znyjWmUOARz
qiizhVceA4ZrYsmKLUWqmz9N526iJO6Tb8hvz6N86l/cvwzC0AT8+0uBQeYL489/
F351+bOygR5Q1YJwArsvmEmLFeB9EYOY2me1IIOCIQGwijAwowX+XHZBmpGQlwvN
BIIDvDp3mpjlQSZbNBvaEWUIOzvgTWQopJ8yajfPr5QVgEmKYgFtPaFiwu4GBqNK
B/95FouIupdCWuoFCbP8t3YJtgRDseta5aRvPy5Wo1jDle9xEsquSo21QSz2kx/5
ZUkXqNYBCFUvJLV15m45yABeZzigbtVWzD8feeQVIWbgUgcfNn8wrIn/t00oKYUn
v4u4WuGm2LOccnHLzYeBMhjXX7GgUuAvlPZLRPkopWpgFV86Fh3JkCbNdBjCnx4+
/Rlo8kJzV5wEBDAI58FLODIymsC6N4BkD7vwUbZBVJvQAJx6ZrKbJMn9Xwe9VH9v
wYvjezQOuFgbV3wYQWiErMt1pBiXW0tSWYTE1bVCHsftdsBNtiQUFKL7TLZvz5sQ
UiCkXU9AZ3CAmnFD897KXa3I
=wfiT
-----END PGP PRIVATE KEY BLOCK-----
