# docker-compose env vars
# @see https://docs.docker.com/compose/reference/envvars/
COMPOSE_CONVERT_WINDOWS_PATHS=1

# application
APP_GROUP_NAME=application

# application
APP_SSH_PASSWORD=123456

# mysql
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret_mysql_root_password

# redis
REDIS_PASSWORD=secret_redis_password

# The following variables are not supposed to be changed by developers.
# They are only placed here, because there is no other way to specify
# "configuration" variables other than using the .env file.
# Unfortunately, it's also not possible to use multiple .env files for
# docker-compose (only one file is supported for the --env-file option,
# see also https://github.com/docker/compose/issues/6170#issuecomment-443523663 )

# The following commented variables should be passed in via environment variables from the Makefile
#APP_USER_NAME=application
#APP_USER_ID=10000
#APP_GROUP_ID=10001
APP_CODE_PATH_CONTAINER=/var/www/app
# APP_CODE_PATH_HOST is relative to the location of the first docker-compose.yml file that is used for docker-compose
APP_CODE_PATH_HOST=../../
APP_HOST=app.local
NETWORKS_DRIVER=bridge
# make PhpStorm recognize incoming debug connections
# see https://www.jetbrains.com/help/phpstorm/debugging-a-php-cli-script.html
PHP_IDE_CONFIG=serverName=dofroscra
VOLUMES_DRIVER=local

ALPINE_VERSION=3.15
COMPOSER_VERSION=2.2.5
MYSQL_VERSION=8.0.28
NGINX_VERSION=1.21.5-alpine
PHP_VERSION=8.1
REDIS_VERSION=6.2.6-alpine3.15
